@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body , html {
  margin: 0;
  overflow: hidden; 
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-sarabun: Sarabun;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-forestgreen: #448e1f;
  --color-black: #000;
  --color-whitesmoke: #f1f5f8;
  --color-lightgray: #cfcfcf;
  --color-mediumseagreen: #69cf94;
  --color-dimgray: #5e5e5e;

  /* Border radiuses */
  --br-11xl-5: 30.5px;
  --br-7xl: 26px;
  --br-xs: 12px;
  --br-8xs: 5px;
  --br-5xs: 8px;
}
